<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>Readsterr</title>
    <link rel="icon" 
      type="image/png" 
      href="../images/book-icon.png">    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <link href='../stylesheets/bootstrap.css' rel='stylesheet' />
    <link href='../stylesheets/rotating-card.css' rel='stylesheet' />  

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    
    <meta property="og:image" content="http://i.imgur.com/95D5N81.png?1"/>
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="275" />
    <meta property="og:title" content="Readsterr"/>
    <meta property="og:url" content="http://readsterr.com"/>
    <meta property="og:site_name" content="Readsterr"/>
    <meta property="og:description"content="A source of Inspiration" />
    <meta property="og:type" content="Website"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

  </head>

  <body ng-app="books">

    <div class="header-top">
    Readsterr<div class="mini" style="
        margin-top: 17px;
        font-size: 16px;
    ">A Source of Inspiration</div>
        <a  href="https://twitter.com/intent/tweet?text=Checkout Readsterr! A site for book recommendations.&url=http://readsterr.com" class="twitter-share-button" data-show-count="true" data-size="small"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div class="row">
   <div class="span12 ui-view-container">
      <div class="well" ui-view></div> 
      <div class="typeform-widget" data-url="https://radhikabhanu.typeform.com/to/wkX7Ku" data-text="Want to add a recommender or share some feedback?" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"><a href="http://www.typeform.com/?utm_campaign=typeform_wkX7Ku&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=English" style="color: #999" target="_blank"></a></div>  
    <div class="made-by">Made by <a target="_blank" href="http://twitter.com/radhika_bhanu">@radhika_bhanu</a>. I also made <a target="_blank" href="http://share-quick.com">ShareQuick.</a></div>  
   </div>
</div> 

  <script type="text/ng-template" id="/home.html">
  <div class="container" class="ng-view" autoscroll="true">
    <div aria-busy="true" aria-label="Loading" role="progressbar" ng-show="spinner" class="spinner-container">
              <div class="swing">
                <div class="swing-l"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="swing-r"></div>
              </div>
              <div class="shadow">
                <div class="shadow-l"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="shadow-r"></div>
                </div>
            </div>  
    <div class="row">
        <div class="col-sm-12 col-sm-offest-2">
            <div class="col-md-4 col-sm-6"  ng-repeat="person in people">
             <div class="card-container manual-flip" >
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="../images/rotating_card_thumb2.png"/>
                        </div>
                        <div class="user" onclick="rotateCard(this)">
                            <img class="img-circle" ng-src="../images/{{person.name}}.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">{{person.name}}</h3>
                                <p class="profession">{{person.description | limitTo: 40 }}{{person.description.length > 50 ? '...' : ''}}</p>
                                <!-- <div style="top:70%;position:absolute;">
                                  <h5><i class="fa fa-map-marker fa-fw text-muted"></i>{{person.location}}</h5>
                                  <h5><i class="fa fa-building-o fa-fw text-muted"></i>{{person.company}}</h5>
                                </div> -->
                                <a href="#/books/{{person._id}}"><div class="books-list">
                                    <img class="book-pic" ng-repeat="book in person.books|limitTo:3" ng-src="{{book.pic}}">
                                </div></a>
                            </div>
                            <div class="footer">
                                <!--<button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward fa-fw"></i> More
                                </button>-->
                                <button class="btn btn-simple"> <a href="#/books/{{person._id}}" class="facebook"><i class="fa fa-book fa-fw"></i>View books</a></button>
                            </div> 
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back" onclick="rotateCard(this)">
                        <div class="header">
                            <h5 class="motto">{{person.quote}}</h5>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <p class="description">{{person.big_description}}</p>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple">
                                    <i class="fa fa-mail-forward fa-fw"></i> Back
                                </button>
                                <!--<a href="#/books/{{person._id}}" class="facebook"><i class="fa fa-book fa-fw" style="height:16px"></i>View books</a>-->
                          </div> <!-- end footer -->
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
            </div>
        </div>

    </div>
   
  </script>

  <script type="text/ng-template" id="/books.html">
    <div class="container" class="ng-view" autoscroll="true">
     <div aria-busy="true" aria-label="Loading" role="progressbar" ng-show="spinner" class="spinner-container">
              <div class="swing">
                <div class="swing-l"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="swing-r"></div>
              </div>
              <div class="shadow">
                <div class="shadow-l"></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div class="shadow-r"></div>
                </div>
            </div>
    <div class="row">
        <div class="col-sm-12 col-sm-offest-2">
            <div class="col-md-4 col-sm-6"  ng-repeat="book in books">
             <div class="card-container manual-flip">
                <div class="card book-card">
                    <div class="front">
                        <div class="bookcover">
                          
                        </div>
                        <div class="book">
                            <img ng-src="{{book.pic}}"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h5 class="name">{{book.title| limitTo: 50 }}{{book.title.length > 50 ? '...' : ''}}</h5>
                                <p class="profession">{{book.author}}</p>
                                <div style="top:70%;position:absolute;">
                                  <h5><i class="fa fa-amazon fa-fw text-muted"></i><a target="_blank" href={{book.amazonLink}}>  View on Amazon</a></h5>
                                  <h5 ng-show="{{book.flipkartLink}}"><i class="fa fa-shopping-cart fa-fw text-muted"></i><a target="_blank" href={{book.flipkartLink}}>  View on Flipkart(India)</a></h5>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fa fa-star"></i> {{book.rating}}
                                </div>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
            </div>
        </div>

    </div>
   
  </script>

<script src="../javascripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../javascripts/bootstrap.min.js" type="text/javascript"></script>
  
<script type="text/javascript">
    $().ready(function(){
        $('[rel="tooltip"]').tooltip();
        
        
    });
    // $( window ).load(function() { 
    //     console.log('loaded');
    //     rotateCard($('.card')[0]);
    //     setTimeout(function(){
    //         rotateCard($('.card')[0]);
    //     },2000)
        
    //     }
    // );
    
    function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="../javascripts/angularApp.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69021377-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>

</html>